node_modules
dist
dist-ssr
coverage
*.tsbuildinfo
*.local
.DS_Store

# Editor / env
.vscode/*
!.vscode/extensions.json
.idea
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
